* {
    padding: 0;
    margin: 0;
}

/*START OF NAV STYLING*/
.navbar-brand{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    font-size: 6vw !important;
}
.navbar-nav{
    margin-left: auto; /*makes navbar items align to the right*/
    font-family: Montserrat;
    font-weight: 300;
}

.navbar-toggler {
    border: none !important;
}

/*END OF NAV STYLING*/

/*START OF MEDIA HEADER STYLING*/
.media-use-heading{
    padding-top: 200px;
    display: block;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 2vw;
}
/*END OF MEDIA HEADER STYLING*/

/*START OF GALLERY STYLING*/

.container{
    max-width: 1224px;
    width: 100%;
    margin: auto;
    padding-top: 250px; /*this line originally was padding: 40px 0; (and there was no padding-bottom)*/ /*YOU HAVE TO MAKE THIS MORE RESPONSIVE MORE MEDIA QUERIES OR SEARCH UP BOOTSTRAP NAVBAR HOW TO AVOID CLASHING*/
    padding-bottom: 25px;
}
.private-container{
    max-width: 1224px;
    width: 100%;
    margin: auto;
    padding-top: 50px; /*reduced padding because h1 does the job*/
    padding-bottom: 25px;
}

.photo-gallery {
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}


.photo img{
    width: 100%;
    object-fit: cover;
    display: block;
    /*display block removes white space underneath images*/
}

.photo img{
    transition: .25s;
}
.photo img:hover{
    filter: invert(80%);
    /*this is where you can make images bigger with transform: scale(1.07);*/
}

.videothumbnail img{
    width: 100%;
    object-fit: contain;
    display: block;
}

.videothumbnail{
    overflow: hidden;
    position: relative;
}

.videothumbnail img{
    transition: transform .3s ease;
}

.videothumbnail:hover img {
    transform: scale(1.1);
  }

.playbutton{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.521);
    opacity: 0;
    transition: .3s;
}

.playbutton:hover{
    opacity: 1;
}


/*END OF GALLERY STYLING*/

/*START OF MEDIA HEADER STYLING*/
.media-use-heading{
    padding-top: 200px;
    display: block;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 2vw;
}
/*END OF MEDIA HEADER STYLING*/

/*START OF BEFORE AFTER STYLING*/
  
.image-comparison {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
  
.image-comparison img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
  
.image-comparison .images-container {
    position: relative;
    display: flex;
}
  
.image-comparison .images-container .before-image {
    position: absolute;
    top: 0;
    width: 50%;
}
  
.image-comparison .slider {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}
  
.image-comparison .slider-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
}
  
.image-comparison .slider-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    color: #fff;
    transform: translate(-50%, -50%) rotateZ(90deg);
}
  
/*END OF BEFORE AFTER STYLING*/

/*START OF FRIDA STYLING*/
.frida {
    
    padding-top: 1700px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.7)),url(/afp_images/FLORES_photographs/FLORES_Frida_forwebsite.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
/*END OF FRIDA STYLING*/

@media(max-width:768px){
    .photo-gallery{
        flex-direction: column;
        /*this makes the masonry grid go into one column on mobile*/
    }
    .container{
        padding-top: 80px;
    }
    .media-use-heading{
        padding-top: 100px;
        font-size: 3vw;
    }
}

/*START OF CONTACT STYLING*/
.contact-container {
    margin: 0 auto;
    text-align: center;
    padding: 2vw;
    padding-top: calc(5.5rem + 100px);
    max-width: 50vw;  /* Limit container width */
    background-color: white;
    border-radius: 8px;
  }

h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3vw !important;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

p {
    font-size: 3vw;
    text-align: justify;
  }

/*END OF CONTACT STYLING*/

/*START OF STUDIO RENTAL STYLING*/

.eqlightbox {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Keeps the text color the same as surrounding text */
    display: block; /* Ensures it behaves like a div */
    border-bottom: 1px solid #ddd;
}

.eqlightbox:hover {
    font-weight: bold; /* Makes text bold on hover */
    color: black; /* Change this to any color you want */
    text-decoration: none; /* Ensures no underline on hover */
}

.studiodesc-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
    padding: 20px; /* Adds space around the image and description */
}

.studio-image {
    width: 66%; /* Takes up 2/3 of the space */
    max-width: 1224px;
}

.studio-image img {
    width: 100%; /* Ensures the image fills the container */
    height: auto; /* Maintains aspect ratio */
}

.studio-description {
    width: 33%; /* Takes up 1/3 of the space */
    display: flex;
    flex-direction: column; /* Stacks the content vertically */
    justify-content: flex-start; /* Aligns content to the top */
}

.studio-description h3 {
    font-size: 1.8rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.studio-description ul {
    list-style-type: disc;
    padding-left: 20px;
}

.studio-description ul li {
    font-size: 1.1rem;
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 10px;
}


.equipment-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.equipment-category {
    
    padding: 20px;
}

.equipment-category h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.equipment-item {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.1rem;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    gap: 15px;
    display: flex;
    justify-content: space-between;
}

.equipment-item:last-child {
    border-bottom: none;
}

.equipment-item span {
    font-weight: bold;
}

/*END OF STUDIO RENTAL STYLING*/

/* Bottom Email Section */
.email-section {
    background-color: #f8f9fa; /* Light grey background */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Vertically centers the content */
    align-items: center; /* Horizontally centers the content */
    padding: 15px 0; /* Adds padding for top and bottom */
    position: fixed; /* Fixes the section at the bottom */
    bottom: 0; /* Aligns it to the bottom of the viewport */
    left: 0; /* Ensures it starts from the left edge */
    width: 100%; /* Makes it span the full width of the page */
    border-top: 2px solid #ddd; /* Adds a border at the top of the section */
    z-index: 100; /* Ensures it stays above other content */
}

.email-section p {
    font-size: 1.5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-bottom: 10px;
    margin-top: 0; /* Removes margin at the top */
}

@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
.email-link {
    font-size: 1.3rem;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none; /* Removes underline */
    color: black; /* Blue color for the link */
    font-weight: bold;
    display: inline-block; /* Ensures the scaling works properly */
    animation: pulse 1.5s infinite ease-in-out;
}

.email-link:hover {
    text-decoration: none; /* Adds underline on hover */
}




@media (max-width: 768px) {
    .studio-image {
        width: 100%; /* Shrinks image slightly on mobile */
        margin-bottom: 20px; /* Adds space below the image */
    }
    .studiodesc-container {
        flex-direction: column; /* Stacks the image and description */
        align-items: center; /* Centers the items */
    }

    .studio-description {
        width: 100%; /* Make description take full width */
    }
}


@media (max-width: 768px) {
    .equipment-section {
        padding: 100px 10px !important; /* Reduce top/bottom padding on mobile */
    }
}






